/* Navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    margin: 15px;
}

/* Navbar icons */
.fa:hover{
      opacity: 0.7;
}
.fa-linkedin-square{
    color: white;
    float: right;
    position: relative;
    margin-right: 20px;
}
.fa-envelope{
    color: white;
    float: right;
    margin-right: 20px;
}
.topnav-right {
    position: fixed;
    top: 15;
    left: 10;
    right: 0;
}

/* Home Section
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -60px; /*
}
/* BAKGRUND */
#home{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("Image/Component\ 3.png") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;

}
ul.no-bullets{
    list-style-type: none;
    margin-top: 100px;
    margin-right: 100px;
    font-family: century;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-align: right;
    font-size: 3vw;
  }
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 50px 0px 50px;
}

/* About section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: url("Image/IMG_0146.JPG");
}
#pic{
    display: flex;
}
#pic img{
    width: 300px;
    height: auto;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#hometwo{
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
#homethree{
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}
/*
#hometwo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #909090;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}*/
.container img{
    border: 5px solid #555;
}
/* Portfolio section */
/*
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 131, 131, 0.9);
    align-items: center;
    height: 800px;
    margin-top: -60px;
}
*/
.container{
    position: relative;
    text-align: center;
    margin-top: 100px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /*placering av bilderna*/
    box-sizing: border-box;
    margin-top: -100px;
}
.gallery img{
    max-width: 360px;
    max-height: 350px;
    margin: 20px;
    height: 100%;
    width: 100%;
    /*
    width: 360px;
    height: 350px;
    margin: 20px;*/
}
.gallery img:hover{
    transition: .5s ease;
}
.gallery img:hover .text{
    visibility: visible;
}
.text{
    color: rgb(243, 243, 243);
    font-size: 40px;
    padding: 16px 32px;
    text-align: center;
    font-family: century;
}
.text1{
    color: rgb(243, 243, 243);
    font-size: 40px;
    padding: 16px 32px;
    text-align: center;
    font-family: century;
    margin-top: -270px;
}
/* centered = text properties */
.centered {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container:hover .centered{
    opacity: 1;
}
.container:hover img{
    opacity: 0.3;
}
.container:hover .text {
  opacity: 1;
}

/* Scooter */
#hometwo img{
    margin-top: 0px;

}
#hometwo img .text
{
    text-align: center;
}
.centered2 {
    transition: 0.3s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}
.text2{
    text-align: center;
    color: rgb(243, 243, 243);
    font-size: 20px;
    margin-top: 20px;
    font-family: century;
}
.container3 img{
    width: 360px;
    height: auto;
    margin: 20px;
    padding-top: -00px;
}
/* ETISKT MANIFEST */
.container4 img{
    width: 100%;
    height: 100%;
    margin-top: top;
}
.container5{
    padding-bottom: ;
}
.container5 img{
    width: 1000px;
    height: auto;
    margin-top: 50px;
    align-items: center;
}